@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.register-back{
   background-image: url("../../assets/images/register-back.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: "Lexend", sans-serif;
   font-optical-sizing: auto;
 }
 :root {
   --primary-color: #ffffff;
   --second-color: #d0d0d0;
   --black-color: #000000;
 }
 
 a {
   text-decoration: none;
   color: var(--second-color);
 }
 
 a:hover {
   text-decoration: underline;
 }
 
 .wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
 }
 
 .login_box {
   position: relative;
   width: 450px;
   backdrop-filter: blur(25px);
   border: 1px solid var(--primary-color);
   border-radius: 15px;
   padding: 7.5em 2.5em 4em 2.5em;
   color: var(--second-color);
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
 }
 
 .login-header {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary-color);
   width: 140px;
   height: 70px;
   border-radius: 0 0 20px 20px;
 }
 
 .login-header span {
   font-size: 28px;
   z-index: 1;
   color: var(--black-color);
 }
 
 .login-header::before {
   content: "";
   position: absolute;
   top: 0;
   left: -30px;
   width: 30px;
   height: 30px;
   border-top-right-radius: 50%;
   background: transparent;
   box-shadow: 15px 0 0 0 var(--primary-color);
 }
 
 .login-header::after {
   content: "";
   position: absolute;
   top: 0;
   
   right: -30px;
   width: 30px;
   height: 30px;
   border-top-left-radius: 50%;
   background: transparent;
   box-shadow: -15px 0 0 0 var(--primary-color); 
 }
 
 .input_box {
   position: relative;
   display: flex;
   flex-direction: column;
   margin: 16px 0 18px;
 }
 
 .input-field {
   width: 100%;
   height: 55px;
   font-size: 16px;
   background: transparent;
   color: var(--second-color);
   padding-inline: 20px 50px;
   border: 2px solid var(--primary-color);
   border-radius: 30px;
   outline: none;
 }
 
 #user {
   margin-bottom: 10px;
 }
 
 .label {
   position: absolute;
   top: 15px;
   left: 20px;
   transition: 0.2s;
 }
 
 .input-field:focus ~ .label,
.input-field:not(:placeholder-shown) ~ .label,
.input-field:valid ~ .label {
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}
 
 .icon {
   position: absolute;
   top: 18px;
   right: 25px;
   font-size: 20px;
 }
 
 .remember-forgot {
   display: flex;
   justify-content: space-between;
   font-size: 15px;
 }
 
 .input-submit {
   width: 100%;
   height: 50px;
   background: #ececec57;
   font-size: 16px;
   font-weight: 500;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   transition: 0.3s;
 }
 
 .input-submit:hover {
   background: #ffffff35;
 }
 
 .register {
   text-align: center;
 }
 
 .register a {
   font-weight: 500;
 }
 
 @media only screen and (max-width: 564px) {
   .wrapper {
     padding: 20px;
   }
 
   .login_box {
     padding: 7.5em 1.5em 4em 1.5em;
   }
 }