@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.team-back{
    background: url("../../assets/images/team-back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
	
}
.team_font{
	font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

@media (min-width: 1026px ) and (max-width: 1260px) {
	/* Styles for devices up to 1058px */
	.team-card{
		width: 30%;
	}
  }