.about-back {
	background: url("../../assets/images/about-back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}
@keyframes glitch {
	0% {
	  text-shadow: 2px 2px 0 #ff00ff, -2px -2px 0 #00ffff;
	  transform: skew(0.3deg);
	}
	20% {
	  text-shadow: 2px -2px 0 #ff00ff, -2px 2px 0 #00ffff;
	  transform: skew(-0.3deg);
	}
	40% {
	  text-shadow: -2px 2px 0 #ff00ff, 2px -2px 0 #00ffff;
	  transform: skew(0.3deg);
	}
	60% {
	  text-shadow: -2px -2px 0 #ff00ff, 2px 2px 0 #00ffff;
	  transform: skew(-0.3deg);
	}
	80% {
	  text-shadow: 2px -2px 0 #ff00ff, -2px 2px 0 #00ffff;
	  transform: skew(0.3deg);
	}
	100% {
	  text-shadow: -2px 2px 0 #ff00ff, 2px -2px 0 #00ffff;
	  transform: skew(0.3deg);
	}
  }
  
  .glitch {
	animation: glitch 1s infinite;
	position: relative;
  }
  
  .glitch::before,
  .glitch::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
	color: white;
	background: transparent;
  }
  
  .glitch::before {
	left: 2px;
	text-shadow: -2px 0 red;
	animation: glitch 1s infinite reverse;
  }
  
  .glitch::after {
	left: -2px;
	text-shadow: -2px 0 blue;
	animation: glitch 1.5s infinite;
  }
  .glow-effect {
	filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
	transition: filter 0.3s ease-in-out;
  }
  
  .glow-effect:hover {
	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
  }
  
  /* From Uiverse.io by Kemboi-Dun */ 

  
  .terminal_toolbar {
	display: flex;
	height: 30px;
	align-items: center;
	padding: 0 8px;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #212121;
	justify-content: space-between;
  }
  
  .butt {
	display: flex;
	align-items: center;
  }
  
  .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-right: 5px;
	font-size: 8px;
	height: 12px;
	width: 12px;
	box-sizing: border-box;
	border: none;
	border-radius: 100%;
	background: linear-gradient(#7d7871 0%, #595953 100%);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
	background: #ee411a;
  }
  
  .btn:hover {
	cursor: pointer;
  }
  
  .btn:focus {
	outline: none;
  }
  
  .butt--exit {
	background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .add_tab {
	border: 1px solid #fff;
	color: #fff;
	padding: 0 6px;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	cursor: pointer;
  }
  
  .user {
	color: #d5d0ce;
	margin-left: 6px;
	font-size: 14px;
	line-height: 15px;
  }
  
  .terminal_body {
	background: rgba(0, 0, 0, 0.6);
	height: calc(100% - 30px);
	padding-top: 2px;
	margin-top: -1px;
	font-size: 12px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  .terminal_promt {
	display: flex;
  }
  
  .terminal_promt span {
	margin-left: 4px;
  }
  
  .terminal_user {
	color: #1eff8e;
  }
  
  .terminal_location {
	color: #4878c0;
  }
  
  .terminal_bling {
	color: #dddddd;
  }
  
  .terminal_cursor {
	display: block;
	height: 14px;
	width: 5px;
	margin-left: 10px;
	animation: curbl 1200ms linear infinite;
  }
  
  @keyframes curbl {
  
	0% {
	  background: #ffffff;
	}
  
	49% {
	  background: #ffffff;
	}
  
	60% {
	  background: transparent;
	}
  
	99% {
	  background: transparent;
	}
  
	100% {
	  background: #ffffff;
	}
  }
  pre {
	white-space: pre-wrap; /* Allows the content to wrap */
	word-wrap: break-word; /* Breaks long words */
	overflow: hidden; /* Hides overflow */
	width: 100%; /* Ensures it uses the full width */
  }
  .terminal_body::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
  }
  
  .terminal_body::-webkit-scrollbar-track {
	background: rgba(36, 35, 35, 0.6); /* Track background */
	border-radius: 8px;
  }
  
  .terminal_body::-webkit-scrollbar-thumb {
	background-color: #16b263; /* Scrollbar thumb (the handle) */
	border-radius: 8px;
	
  }
  
  .terminal_body::-webkit-scrollbar-thumb:hover {
	background-color: #00cc00; /* Change color on hover */
  }
  
  .terminal_body::-webkit-scrollbar-thumb:active {
	background-color: #009900; /* Change color on active */
  }