
@font-face {
  font-family: 'HalloweenFont';
  src: url('./assets/fonts/OctoberCrow.ttf');
  font-weight: normal;
  font-style: normal;
}
.halloweenFont{
  font-family: 'HalloweenFont',sans-serif;
}

@font-face {
  font-family: 'Welcome';
  src: url('./assets/fonts/MidnightMinutes_DEMO.otf');
}

.welcome{
  font-family: 'Welcome', sans-serif;
}

@font-face {
  font-family: 'Scary-Halloween';
  src: url("./assets/fonts/ScaryHalloweenFont.ttf");
}
.scary-halloween{
  font-family: 'Scary-Halloween', sans-serif;
}

@font-face {
  font-family: 'WitchMagic';
  src: url("./assets/fonts/WitchMagic.ttf");
}

.WitchMagic{
  font-family: 'WitchMagic', sans-serif;
}

@font-face {
  font-family: 'MagnificentSerif';
  src: url("./assets/fonts/MagnificentSerif.ttf");
}

.MagnificentSerif{
  font-family: 'MagnificentSerif', sans-serif;
}

@font-face {
  font-family: "TrickorTreats";
  src: url("./assets/fonts/TheHoca.ttf");
}
.trick-or-treats{
  font-family: 'TrickorTreats', sans-serif;
}


