@font-face {
	font-family: "HalloweenFont";
	src: url("./assets/fonts/OctoberCrow.ttf");
	font-weight: normal;
	font-style: normal;
}
.halloweenFont {
	font-family: "HalloweenFont", sans-serif;
}

@font-face {
	font-family: "Welcome";
	src: url("./assets/fonts/MidnightMinutes_DEMO.otf");
}

.welcome {
	font-family: "Welcome", sans-serif;
}

@font-face {
	font-family: "Scary-Halloween";
	src: url("./assets/fonts/ScaryHalloweenFont.ttf");
}
.scary-halloween {
	font-family: "Scary-Halloween", sans-serif;
}

@font-face {
	font-family: "WitchMagic";
	src: url("./assets/fonts/WitchMagic.ttf");
}

.WitchMagic {
	font-family: "WitchMagic", sans-serif;
}

@font-face {
	font-family: "MagnificentSerif";
	src: url("./assets/fonts/MagnificentSerif.ttf");
}

.MagnificentSerif {
	font-family: "MagnificentSerif", sans-serif;
}

@font-face {
	font-family: "TrickorTreats";
	src: url("./assets/fonts/TheHoca.ttf");
}
.trick-or-treats {
	font-family: "TrickorTreats", sans-serif;
}

@font-face {
	font-family: "Frightmare";
	src: url("./assets/fonts/HappyHalloween.ttf");
}
.Frightmare {
	font-family: "Frightmare", sans-serif;
	background: #fc8e18;
	background: linear-gradient(to right, #fc8e18 0%, #ff7118 50%, #3c3736 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@font-face {
	font-family: "FREAKYHALLOWEEN";
	src: url("./assets/fonts/FREAKYHALLOWEEN.otf");
}
.FREAKYHALLOWEEN {
	font-family: "FREAKYHALLOWEEN", sans-serif;
}

@font-face {
	font-family: "SquareOne";
	src: url("./assets/fonts/TypeMachine.ttf");
}
.square-one {
	font-family: "SquareOne", sans-serif;
}

.animate-down {
	animation: down 1.6s;
}
@keyframes down {
	0% {
		transform: translateY(-100px);
	}
}
.animate-up {
	animation: up 1.6s;
}
@keyframes up {
	0% {
		transform: translateY(80px);
	}
}
.animate-scale {
	animation: scale 1.6s;
}
@keyframes scale {
	0% {
		transform: scale(0.5);
	}
	100%{
		transform: scale(1);
	}
}



.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	padding: 40px;
	gap: 120px;
  }
  
  .card {
	
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 300px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 10px;
  }
  
  .card-image {
	width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 15px;
  }
  
  .card h2 {
	color: #f0980b;
	font-size: 1.5rem;
	margin: 10px 0;
  }
  
  .card p {
	color: #777;
	font-size: 1rem;
	margin-bottom: 15px;
  }
  
  .social-links a {
	margin: 0 10px;
	display: inline-block;
  }
  
  .social-links img {
	width: 24px;
	height: 24px;
  }
  