.rules-back{
    background: url("../../assets/images/rules-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
}
ul li{
    list-style:decimal;
}